[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=jd-kube-apiserver.service
Requires=jd-kube-apiserver.service

[Service]
EnvironmentFile=-/export/jd-kuber8s/etc/portal.conf
ExecStart=/usr/bin/kubectl  proxy \
            $PORT \
            $WEB
Restart=on-failure

[Install]
WantedBy=multi-user.target
