[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=jd-docker.service
Requires=jd-docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=-/export/jd-kuber8s/etc/kubernetes/config
EnvironmentFile=-/export/jd-kuber8s/etc/kubernetes/kubelet
ExecStart=/usr/bin/kubelet \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBELET_API_SERVER \
	    $KUBELET_ADDRESS \
	    $KUBELET_PORT \
	    $KUBELET_HOSTNAME \
	    $KUBE_ALLOW_PRIV \
	    $KUBELET_ARGS \
            $POD_INFRA_CONTAINER
Restart=on-failure

[Install]
WantedBy=multi-user.target
